$primaryColor: #124557;
$secondaryColor: #ffffff;
$accentColor: #ee3b3b;
$borderRadius: 5px;
$borderWidth: 1px;



body{
    margin: 0;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        color: $primaryColor;

    }
    h1{
        font-size: 48px;
    }
    h2{
        font-size: 41px;
    }
    h3{
        font-size: 35px;
    }
    h4{
        font-size: 28px;
    }
    h5{
        font-size: 25px;
    }
    h6{
        font-size: 22px;
    }
    .pageContainer{
        position: relative;
        .header{
            display: flex;
            justify-content: space-between;
            padding: 25px 0;
        }
        .container{
            max-width: 1170px;
            padding-right: 45px;
            padding-left: 45px;
            margin-right: auto;
            margin-left: auto;
        }
        .row{
            display: flex;
        }
        .col{
            flex: 1 1 50%;
        }
        .generalContent{
            background-color: white;
            color: $primaryColor;
            padding: 25px;
        }
        .hero{
            background-image: url('./images/auto-accident-background-image.jpg');
            background-size: cover;
            position: relative;
            z-index: 1;
            padding: 50px 0;
            &:before{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgb(84 84 84 / 70%);
                z-index: -1;
            }
            .heading{
                color: $secondaryColor;
                font-size: 35px;
            }
            .subheading{
                color: $secondaryColor;
                font-size: 28px;
                font-weight: normal;
            }
            .formContainer{
                background-color: $primaryColor;
                border-radius: $borderRadius;
                border: $borderWidth solid $secondaryColor;
                padding: 25px;
                .question{
                    margin: 15px 0;
                    display: inline-block;
                    width: 100%;
                    &:first-child{
                        margin-top: 0;
                    }
                    h6{
                        color: $secondaryColor;
                    }
                    .answers{
                        display: flex;
                        justify-content: space-between;
                        margin: 10px 0;
                        .answerChoice{
                            text-align: center;
                            width:48%;
                            height:40px;
                            position:relative;
                            display: block;
                            label, input{
                                display:block;
                                position:absolute;
                                top:0;
                                left:0;
                                right:0;
                                bottom:0;
                            }
                            label{
                                padding:5px;
                                border:1px solid #CCC; 
                                z-index:90;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                // button styling
                                background-color: #ffffff;
                                border-radius: 2px;
                            }
                            input[type="radio"]{
                                opacity:0;
                                z-index:100;
                                margin: 0;
                                
                            }
                            input:hover{
                                cursor: pointer;
                            }
                            input[type="radio"]:checked + label {
                                background-color:yellow;
                            }
                        }
                    }
                    
                }
                .contactInfo{
                    margin: 15px 0;
                    h6{
                        color: $secondaryColor;
                    }
                    .contactField{
                        margin: 10px 0;
                        label{
                            position: absolute;
                            width: 1px;
                            height: 1px;
                            padding: 0;
                            margin: -1px;
                            overflow: hidden;
                            clip: rect(0,0,0,0);
                            white-space: nowrap;
                            border: 0;
                        }
                        input{
                            width: 100%;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}
